<div class="p-6">
 <h1 class="text-3xl font-bold mb-4">Account Balances</h1>

 <table class="min-w-full divide-y divide-gray-200">
  <thead class="bg-gray-50">
  <tr>
   <th scope="col"
       class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
    Currency
   </th>
   <th scope="col"
       class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
    Amount
   </th>
  </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
  <tr th:each="balance : ${balances}">
   <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900" th:text="${balance.currencyCode}">Currency Code</div>
   </td>
   <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900" th:text="${balance.amount}">Amount</div>
   </td>
  </tr>

  <tr th:if="${#lists.isEmpty(balances)}">
   <td colspan="4" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">No balances available.</td>
  </tr>
  </tbody>
 </table>
</div>
